<%- include("partials/_header") %>



<section id="content">
  <main> 
    <div class="table-data">
      <div class="order">
        <div class="head">
          <h3>Todos los registros</h3>
          <!-- <i class='bx bx-search' ></i>
          <i class='bx bx-filter' ></i> -->
        </div>
        <div class="table-container">
          <table class="scroll-table wide-table">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Fecha</th>
                <th>Panteón</th>
                <th>Sección</th>
                <th>N. actual</th>
                <th>N. anterior</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <% if (difunto) { %> <% for(var i = 0; i < difunto.length; i++) {
                %>
              <tr>
                <td>
                  <p><%= difunto[i].name %></p>
                </td>
                <td><%= difunto[i].fecha %></td>
                <td><span class="status <%= difunto[i].panteon === 'VIEJO' ? 'viejo' : 'nuevo' %>"><%= difunto[i].panteon %></span></td>
                <td><%= difunto[i].seccion %></td>
                <td><%= difunto[i].act %></td>
                <td><%= difunto[i].num %></td>
                <td>
                  <button class="open-edit-btn input-fiel button" data-id="<%= difunto[i].id %>"><i class="uil uil-edit-alt"></i></button>
                  <button class="open-responsible-btn input-fiel button" data-id="<%= difunto[i].id %>"><i class="uil uil-user-plus"></i></button>
                </td>
              </tr>
              <% } %> <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </main>
</section>

<%- include("partials/_editDifunto") %>
<%- include("partials/_createDifuntos") %>
<%- include("partials/_footer") %>
<script src="/socket.io/socket.io.js" defer></script>
<script src="/js/socket-client.js"></script>
