<%- include("partials/_header") %>

<!-- <div class="container mt-5">
  <div class="row gx-4">
    <div class="col-md-7">
      <table class="table table-sm table-dark table-responsive table-striped table-hover">
        <thead>
          <tr>
            <td>N°</td>
            <td>Nombre</td>
            <td>Seccion</td>
            <td>Fecha</td>
            <td>Pisos</td>
            <td>Acciones</td>
          </tr>
        </thead>
        <tbody>
          <% if (difunto) { %> <% for(var i = 0; i < difunto.length; i++) {
          %>
          <tr>
            <td><%= (i + 1) %></td>
            <td style="white-space: normal; word-wrap: break-word; max-width: 150px;"><%= difunto[i].name %></td>
            <td><%= difunto[i].seccion %></td>
            <td><%= difunto[i].fecha %></td>
            <td><%= difunto[i].pisos %></td>
            <td class="d-flex gap-2">
              <a href="/update/<%= difunto[i].id %>" class="btn btn-info">
                Editar
              </a>
              <a href="/delete/<%= difunto[i].id %>" class="btn btn-danger">
                Borrar
              </a>
            </td>
          </tr>
          <% } %> <% } %>
        </tbody>
      </table>
    </div>
    <br><br><br>
    <div class="col-md-5">
      <div class="card-body">
        <form action="/add" method="POST">
          <input
            type="text"
            name="name"
            placeholder="Nombre del difunto"
            class="form-control mb-2"
            autofocus
            oninput="this.value = this.value.toUpperCase();"
          />
          <input
            type="text"
            name="seccion"
            placeholder="Sección del panteon"
            class="form-control mb-2"
            oninput="this.value = this.value.toUpperCase();"
          />
          <input
            type="text"
            name="fecha"
            placeholder="Fecha de defunción"
            class="form-control mb-2"
          />
          <input
            type="number"
            name="pisos"
            value="<%= difunto.pisos%>"
            placeholder="Número de gabetas"
            class="form-control mb-3"
          />
          <button type="submit" class="btn btn-success">Guardar difunto</button>
          <a href="/export-excel" class="btn btn-info">
            Exportar Excel
          </a>
        </form>
      </div>
    </div>
  </div>
</div> -->
<section class="dashboard">
  <div class="top">
  </div>

  <div class="dash-content">
      <div class="overview">
          <div class="title">
              <i class="uil uil-tachometer-fast-alt"></i>
              <span class="text">Inicio</span>
          </div>

          <div class="boxes">
              <div class="box box1">
                  <i class="uil uil-"></i>
                  <span class="text">Total de gabetas</span>
                  <span class="number"><%= allCement %></span>
              </div>
              <div class="box box2">
                  <i class="uil uil-"></i>
                  <span class="text">Panteón nuevo</span>
                  <span class="number"><%= newCement %></span>
              </div>
              <div class="box box3">
                  <i class="uil uil-"></i>
                  <span class="text">Panteón viejo</span>
                  <span class="number"><%= oldCement %></span>
              </div>
          </div>
      </div>

      <div class="activity">
        <div class="title">
            <i class="uil uil-file-alt"></i>
            <span class="text">Todos los registros</span>
        </div>

        <div class="activity-data">
            <div class="data names">
                <span class="data-title">N. gabeta</span>
                <% if (difunto) { %> <% for(var i = 0; i < difunto.length; i++) {
                  %>
                  <span class="data-list"><%= difunto[i].id %></span>
                <% } %> <% } %>
            </div>
            <div class="data email">
              <span class="data-title">Nombre del difunto</span>
                <% if (difunto) { %> <% for(var i = 0; i < difunto.length; i++) {
                  %>
                  <span class="data-list"><%= difunto[i].name %></span>
                <% } %> <% } %>
            </div>            
            <div class="data joined">
                <span class="data-title">Sección</span>
                <% if (difunto) { %> <% for(var i = 0; i < difunto.length; i++) {
                  %>
                  <span class="data-list"><%= difunto[i].seccion %></span>
                <% } %> <% } %>
            </div>
            <div class="data floors">
              <span class="data-title">Pisos</span>
              <% if (difunto) { %> <% for(var i = 0; i < difunto.length; i++) {
                %>
                <span class="data-list"><%= difunto[i].pisos %></span>
              <% } %> <% } %>
            </div>
            <div class="data type">
                <span class="data-title">N. anterior</span>
                <% if (difunto) { %> <% for(var i = 0; i < difunto.length; i++) {
                  %>
                  <span class="data-list"><%= difunto[i].num %></span>
                <% } %> <% } %>
            </div>
            
            <div class="data status">
                <span class="data-title">Panteón</span>
                <% if (difunto) { %> <% for(var i = 0; i < difunto.length; i++) {
                  %>
                  <span class="data-list"><%= difunto[i].panteon %></span>
                <% } %> <% } %>
            </div>

        </div>
        
    </div>
  </div>
</section>

<%- include("partials/_createDifuntos") %>
<%- include("partials/_footer") %>
